/* Padronizada */

.form-reembolso {
  max-width: 600px;
  margin: 70px auto;
  padding: 30px;
  background-color: #1f1f1f;
  border-left: 4px solid #f76c6c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-reembolso h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-reembolso label {
  font-weight: 600;
  color: #e0e0e0;
}

.form-reembolso input,
.form-reembolso select,
.form-reembolso textarea {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.form-reembolso input:focus,
.form-reembolso select:focus,
.form-reembolso textarea:focus {
  border-color: #f76c6c;
  box-shadow: 0 0 5px #f76c6c;
  outline: none;
}

.form-reembolso button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-reembolso button:hover {
  background-color: #f76c6c;
  border-color: #f76c6c;
  color: #000;
}

.sucesso-solicitacao,
.erro-solicitacao,
.erro-valor,
.erro-data {
  color: white;
  background-color: rgb(32, 68, 41);
  border-radius: 10px;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: none;
  text-align: center;
}

.erro-solicitacao,
.erro-valor,
.erro-data {
  background-color: rgb(92, 46, 46);
}